
button {
  width: 120px;
  height: 35px;
  border-radius: 22.5px;
  color: white;
  font-size: 14px;
  border: none;
  background-color:rgba(97, 7, 124, 0.8);
  box-shadow: -3px 3px 3px 1px rgba(46, 45, 45, 0.25);
  margin: 10px;
}

button:hover {
  width: 123px;
  height: 36px;
  background-color: rgb(123, 49, 146);
  border: solid silver 1px;
  box-shadow: -3px 3px 1px 1px rgb(0,0,0,0.25);
  transition: box-shadow ease 0.5s, width ease 0.3s, heigth ease 0.3s;
  cursor: pointer;
}